.nav-contairner {
  position: sticky;
  background-image: url(/Assets/Image.png);
}

.menu-bar {
  display: none;
  font-size: 1.7rem;
  color: #ffffff;
  cursor: pointer;
}
.nav-content {
  display: flex;
  justify-content: space-between;
}

.nav-content-1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-content-1 h3 {
  color: #dad6c4;
  font: Raleway;
  font-weight: 200;
  font-size: 20px;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}
ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

a {
  color: #ffffff;
  font: Rufina;
  font-weight: 200;
  font-size: 18px;
}

/*  */
.hero-container {
  background-image: url(/Assets/contact-image-2.png);
  height: 500px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 50px;
}
.hero-content-2 {
  display: flex;
  gap: 2px;
  align-items: center;
}
.hero-content-2 img {
  height: 247px;
  width: 260px;
  border-bottom-left-radius: 40px;
}

.message-content-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f5f3f1;
  padding: 30px;
  border-top-right-radius: 50px; 
}

.message-content-1 {
  font: Rufina;
  font-weight: 700;
  font-style: Bold;
  color: #181d24;
}
.message-content-1-items {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/*  */
.biggest-container {
  position: relative;
}
.Frequently-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: #f5f3f1;
  height: 700px;
  padding-top: 100px;
}
.Frequently-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.Frequently-content-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Frequently-content-2 {
  display: flex;
  gap: 2rem;
}
.Frequently-content-2-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*  */
.message-container {
  position: absolute;
  top: 500px;
  left: 200px;
}
.message-content-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #ffffff;
  border-bottom-right-radius: 30px;
  padding: 30px;
  height: 300px;
  width: 230%;
}
.message-content-2 form {
  color: #5b656f;
  font: raleway;
  font-style: Medium;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.message-content-2 button {
  height: 30px;
  width: 60px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* footer-style */
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  /* margin-top: 80px; */
  padding-top: 200px;
  background-color: #dfe3e7;
}
.footer-content {
  display: flex;
  gap: 10rem;
}
.footer-content-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer-content-1 p {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #5b656f;
  font-style: Regular;
  font: raleway;
}
.footer-content-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  color: #181d24;
  font-style: medium;
  font: raleway;
}

.footer-icon {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer-icon img {
  height: 20px;
  width: 20px;
}
.footer-content-3 {
  display: flex;
  gap: 10rem;
  color: #181d24;
  font-style: regular;
  font: raleway;
}
.footer-content-3-item-1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 600px) {
  ul {
    /* display: none; */
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    background-color: #ddd;
    width: 100%;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 1s ease-in-out;
  }
  li {
    margin: 12px 0;
  }
  .menu-bar {
    display: block;
  }
  .show {
    max-height: 300px;
  }
  .hero-container {
    background-image: url(/Assets/contact-image-2.png);
    height: 800px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .hero-content-2 {
    display: flex;
    flex-direction: column;
  }

  .Frequently-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: #f5f3f1;
  height: 900px;
  /* padding: 100px; */
}
  
  .Frequently-content-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer-content{
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-content-3{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.media{
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px;
}
.biggest-container {
  position: relative;
}

.message-container {
  position: absolute;
  top: 800px;
  left: 50px;
}
.message-content-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(169, 12, 12, 0.1) 0px 4px 12px;
 background-color: #ffffff; 
  border-bottom-right-radius: 30px;
  padding: 30px;
  height: 300px;
  width: 100%;
}
.footer-container {
  /* display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center; */
  background-color: #dfe3e7;
}
.message-content-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f5f3f1;
  padding: 30px;
  border-bottom-left-radius: 50px;
}
.hero-content-2 img {
  height: 260px;
  width: 305px;
  border-top-right-radius: 40px;
}
}
