

body {
 background-image: url(../Assets/login-image.png); 
  background-repeat:  no-repeat;
  background-size: 100%;
  color: #ffffff;
}

.login-container {
display:flex;
flex-direction: column;
align-items:center;
justify-content: space-between;
padding-top: 40px;

}

.login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.8rem;
}
.first-name {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.first-name label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.first-name input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
}
.last-name {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
}
.last-name label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.last-name input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
}
.form-email {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
}
.form-email label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.form-email input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
}

.form-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
}

.form-password label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.form-password input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
}

.fa-regular {
  position: absolute;
  right: 10px;
  top: 45px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #a09f99;
}

 .extras-container{
  display: flex;
  gap: 5rem; 
   align-items: center;
  font-size: 0.85rem;
  margin-bottom: 20px;
  margin-top: 20px; 
} 


 .extras {
  display: flex;
  justify-content: space-between;

} 

.extras-container a {
  color: #f06292;
  text-decoration: none;
}

.fa-solid {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  
}
.btn button {
  width: 100%;
  padding: 10px 15px;
  background-color:  #f06292;
  border: none;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}






.divider {
  text-align: center;
  margin: 20px 0;
  font-size: 0.9rem;
  opacity: 0.8;
}

.social-login {
  display: flex;
  justify-content: space-around;
}

.social-login button {
  background: #222;
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.signup-text {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

.signup-text a {
  color: #f06292;
  text-decoration: none;
}

.signup-text span {
  color:#ffffff;
  text-decoration: none;
}
